.software-main{
  .soft-banner{
    padding: 20px 0;
    background-color: #eee;
    width:100%;
    .soft-title{
      text-align: center;
      margin-top: 60px;
    .main-title {
        font-size: 28px;
        font-weight: bold;
      }
      .sub-title{

      }
    }
    .menu{
      margin-top: 20px;
      text-align: center;
      a{
        display: inline-block;
        border: solid 1px white;
        border-radius: 13px;
        height: 30px;
        line-height: 1.8;
        width: 95px;
        color: white;
        span {
          display: inline-block;
          font-size: 16px;
          i {
            margin-right: 3px;
          }
        }
      }
      .home{
        background-color: #19C2FF;
      }
      .download{
        background-color: #29B996;
        margin-left: 10px;
      }
      .github{
        background-color: black;
        margin-left: 10px;
      }
    }
    .link-info{
      text-align: center;
      margin-top: 20px;
      div {
        display: inline-block;
        width: 180px;
      }
    }
  }
  .soft-intro{
    border:solid 1px #eee;
  }
}