.add-new-software{
  text-align: center;
  margin-top: 20px;
  .input-for-url{
    width: 450px;
    height: 40px;
  }
  .more-info{
    width: 450px;
    margin: 15px auto;
    text-align: right;
    padding-right: 2px;
  }
  .more-info-content{
    text-align: left;
  }
}