$default-color: #1ABC9C;
$default-font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;

//@media (min-width: 768px) {
//  .container {
//    width: 750px;
//  }
//}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.display-none{
  display: none;
}

.display-show{
  display: block;
}

body{
  font: $default-font;
}
.navi{
  height: 80px;
  background-color: $default-color;
  .logo{
    width: 200px;
    height: 100%;
    display: inline-block;
  }
  .category-item{
    display: inline-block;
    height: 100%;
    width: 150px;
    vertical-align: top;
    line-height: 3.5;
    font-size: 22px;
  }
}

.simditor .simditor-toolbar > ul > li > .toolbar-item span.simditor-icon{
  line-height: 40px!important;
}